header {
    background: transparent;
    height: 3%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    * {
      color: #FFFFFF;
    }
    .actions {
      display: flex;
      width: 30%;
      justify-content: flex-end;
    }
    button {
        height: 10px;
        border: none;
        font-size: 28px;
        background: transparent;
        cursor: pointer;
    }
}