<form>
    <div class="form-row" id="actions">
        <button id="back" type="button" (click)="backPage()">
            <i class="bi bi-arrow-left"></i> Voltar
        </button>
    </div>
    <div class="form-row">
        <input placeholder="Nome">
    </div>
    <div class="form-row">
        <input placeholder="Login">
    </div>
    <div class="form-row">
        <input placeholder="E-mail">
    </div>
    <div class="form-row">
        <input placeholder="Senha">
    </div>
    <div class="form-row">
        <input placeholder="Confime sua senha">
    </div>
    <div class="form-row">
        <button id="register">Cadastrar</button>
    </div>
</form>