<form>
    <div class="form-row">
        <button>
            <i class="bi bi-google"></i> Entrar com Google
        </button>
    </div>
    <div class="form-row">
        <input type="text"  placeholder="Login">
    </div>
    <div class="form-row">
        <input type="password"  placeholder="Senha">
    </div>
    <div class="form-row">
        <button id="login">
            Entrar
        </button>
    </div>
    <div class="form-row">
        <a routerLink="../register">Cadastre-se</a>
    </div>
</form>