<article>
    <div class="title">Workspaces</div>
    <div class="actions">
    </div>
    <div class="workspace-container">
        <div class="workspace-header">
            <i class="bi bi-person-rolodex"></i> Pessoal
        </div>
        <div class="workspace-border-container">
            <div class="workspace-border-container-header">
                <button type="button" class="primary">
                    <i class="bi bi-kanban"></i>  Novo quadro
                </button>
            </div>
            <div class="workspace-border-container-body">
                <div class="border">  
                </div>
            </div>
        </div>
    </div>
</article>