<nav>
    <section class="brand">
        <span><i class="bi bi-kanban"></i> NgKanban</span>
    </section>
    <section class="navigation">
        <div class="nav-item" routerLinkActive="active">
                <span routerLink="core/dashboard">
                    <i class="bi bi-house-fill"></i> Dashboard
                </span>
        </div>
        <div class="nav-item" routerLinkActive="active">
            <span routerLink="core/boards">
                <i class="bi bi-kanban"></i> Meus Quadros
            </span>
        </div>
    </section>
</nav>