.page-wraper {
    display: flex;
}
app-navbar {
    width: 15%;
}
.content-waper {
    width: 85%;
    height: 100%;
    padding-bottom: 20px;
    background: #393E46;
    padding: 0 20px ;
    box-sizing: border-box;
}
.content-waper.full-width {
    width: 100%;
}
app-navbar[hiddenNav] {
    display: none;
}